.App {
  text-align: center;
  height: 555px;
}

.Form{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 10px;
  margin-right: 1px;
}

.cont-all{
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  border-top: 1px solid brown;
  border-left: 1px solid brown;
  border-bottom: 1px solid brown;
  padding: 0%;
  margin: 0%;
  
}

.cont-image{
  /* border: 2px solid rgb(114, 18, 18); */
  width: 30%;
  padding: 1px;
  padding-top: 20px;
  margin: 0%;
  background-color: brown;
}

.img-f{
  height: 95%;
  width: 90%;
  align-self: center;
}
.require{
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  padding-top: 8%;
  height: 100%;
  width:100%;
}
.b-buy{
  height: 30px;
  width: 120px;
  background-color: brown;
  color: white;
  border-style: none;
  border-radius: 6px;
}
.b-clean{
  height: 30px;
  width: 120px;
  background-color: green;
  color: white;
  border-style: none;
  border-radius: 6px;
}

body, html {
  margin: 0; 
  height: 100%; 
}