.App {
  text-align: center;
  height: auto;
  min-height: 90%;
}

.f-error{
  color: red;
  margin-top: 0.1px;
  font-size: small;
  align-self: flex-start;
}

/*purchase requirements page styles*/

.Form{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 10px;
  margin-right: 1px;
  background-color: white;
}

.cont-all{
  height: auto;
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 0px;
  border-top: 1px solid brown;
  border-left: 1px solid brown;
  border-bottom: 1px solid brown;
  padding: 0%;
  margin: 0%;
  
}

.cont-image{
  /* border: 2px solid rgb(114, 18, 18); */
  width: 30%;
  padding: 1px;
  padding-top: 20px;
  margin: 0%;
  background-color: #5d2728;
}

.img-f{
  height: 95%;
  width: 90%;
  align-self: center;
}
.require{
  /* border: 2px solid red; */
  justify-content: center;
  align-items: center;
  padding-left: 30%;
  padding-top: 5%;
  height: 600px;
  width: 100%;
  background-color: #ba9f85;
}
.b-buy{
  height: 30px;
  width: 100%;
  background-color: brown;
  color: white;
  border-style: none;
  /* border-radius: 6px; */
}
.b-clean{
  height: 30px;
  width: 100%;
  background-color: green;
  color: white;
  border-style: none;
  /* border-radius: 6px; */
}

.label-require{
  align-self: flex-start;
}

.field-require{
  border: 2px solid #5d2728;
  color: #5d2728;
  height: 30px;
}

.select-require{
  border: 2px solid #5d2728;
  color: white;
  background-color: #947151;
  height: 30px;
}

/* products list page styles  */
.product-cont-all{
  border: 2px solid black;
  height: auto;
  width: auto;
  display: flex;
}

.cont-filter-list{
  height: auto;
 border: 2px solid blue;
 margin: 0px;
 width: 79%;
}

.cont-nav{
  border: 2px solid brown;
  background-color: brown;
  height: 50px;
  padding-bottom: 8px;
  margin: 0px;
  display: flex;
  align-content: center;
  box-sizing: content-box; 
  gap: 5px;
}

.title{
  margin-bottom: 80px;
}

.b-cancel{
 align-self: center;
margin-left: 600px;
background-color: red;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;
}

.b-complet{
  align-self: center;
  background-color: green;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;
}

.cont-detail{
  border: 2px solid orange;
  flex: 0.8;
  padding: 5px;
  margin:0px ;
  height: 682px;
  width: 20%;
  position: fixed;
  top: 0px;  
  right: 1px; 
}

.cont-filter{
  border: 2px solid purple;
  height: 70px;
  padding: 5px;
  align-content: center;
}

.filters{
  align-items: center;
  display:flex;
  background-color: gray;
  flex-direction: row;
  gap: 2px;
 border-radius: 6px;
 padding: 5px;
 height: 60%;
 width: 70%;
}

.b-clean-filters{
  align-self: center;
background-color: red;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;
}

.b-apply-filters{
  align-self: center;
background-color: green;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;
}

.field-filter{
  border-radius: 4px;
  height: 30px;
  width: 120px;
}

.detail{
  padding-left: 10px;
  padding: 5px;
  align-items: start;
  display:flex;
  flex-direction: column;
  gap: 0.1px;
  border: 2px solid blue;
  height: auto;
}

.b-car{
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  background-color: green;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;
}

.i-detail{
  align-self: center;
  border: 2px solid red;
  width: 90%;
  height: 200px;
}

.cont-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  border: 2px solid gray;
  margin: 2px;
  padding-top: 10px;
  padding-bottom: 20px;
  height: auto;
  width: auto;
}

.cont-product{
  border: 2px solid black;
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.i-product{
  align-self: center;
  border: 2px solid red;
  width: 90%;
  height: 200px;
}

.b-detail{
  align-self: flex-end;
  margin-right: 10px;
  background-color: green;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;
}

.cont-cart{
  border:2px solid blue;
  height: auto;
  justify-items: left;
}

.cont-header{
  border: 2px solid brown;
  background-color: brown;
  width: 98.5%;
  height: 70px;
  justify-items: start;
  padding-left: 20px;
}

.b-cart-return{
  background-color: gray;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;
  margin-top: 10px;
  margin-left: 10px;
}

.cont-table-summary{
  border: 2px solid blue;
  margin: 10px;
  padding: 10px;
  width: 95%;
  height: auto;
  justify-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cont-table{
  border: 2px solid yellow;
  flex: 3;

}

.cont-summary{
  border: 2px solid orange;
  height: 200px;
  flex: 1;
  padding: 5px;
}

.summary{
 border: 2px solid gray;
 background-color: lightgray;
 height:100%;
 justify-items: left;
 padding-left:5px ;
}

.cont-pay{
  border: 2px solid purple;
  padding: 10px;
  height: auto;
  width: 30%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.bs-cart{
  display:flex;
  flex-direction: row ;
  gap: 10px;
  justify-content: center;
  border: 2px solid red;
  padding: 5px;
  margin: 5px;
  width: 90%;
}

.b-pay{
  background-color: green;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 130px;
  float: right;
}

.b-cancel-cart{
  background-color: red;
color: white;
border-style: none;
  border-radius: 6px;
  height: 30px;
  width: 120px;

}


